*.class

Servers/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata/
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_3
.recommenders/
RemoteSystemsTempFiles/
